<div id="wallet-content" class="flex flex-col gap-6">
    {% if error %}
        <div class="alert alert-error text-sm">{{ error }}</div>
    {% endif %}
    <div class="stats shadow bg-base-100 border border-base-300">
        <div class="stat">
            <div class="stat-title">Balance</div>
            <div class="stat-value {% if balance < 0 %}text-error{% endif %}">
                ${{ balance|floatformat:2 }}
            </div>
        </div>
    </div>

    <div class="flex flex-wrap w-full gap-2 items-center">
        <a href="{% url 'transaction_create' wallet.uuid %}?type=income"
           class="btn btn-success btn-sm grow"
           hx-get="{% url 'transaction_create' wallet.uuid %}?type=income"
           hx-target="#modal-content" hx-trigger="click"
           onclick="document.getElementById('modal').showModal()">
            + Income
        </a>
        <a href="{% url 'transaction_create' wallet.uuid %}?type=expense"
           class="btn btn-error btn-sm grow"
           hx-get="{% url 'transaction_create' wallet.uuid %}?type=expense"
           hx-target="#modal-content" hx-trigger="click"
           onclick="document.getElementById('modal').showModal()">
            + Expense
        </a>
    </div>

    <div id="transaction-list">
        {% include "wallet/transaction/_list.html" %}
    </div>

    {% if other_wallets %}

        <div class="collapse collapse-arrow bg-base-100 border border-base-300 shadow">
            <input type="checkbox"/>
            <div class="collapse-title font-semibold">Transfer to other wallet</div>
            <div class="collapse-content text-sm">
                <div class="card-body p-1">
                    <h3 class="card-title text-sm mb-2">Fast Transfer</h3>
                    {% include "wallet/transfer/_fast_form.html" %}
                </div>
            </div>
        </div>

    {% endif %}
</div>
